/*
NOTES:
Use Montserrat for headings and Raleway for content
*/
/* Defining colors */
:root {
  --dark: #343a40;
  --primary: #1089ff;
  --grey: #e5e5e5;
}

/* I honestly couldn't use the color variables for some reason */
body {
  font-family: Raleway, sans-serif;
  color: var(--dark) !important;
  background: #f6f6f6;
}

h1 {
  color: var(--dark);
  font-family: Montserrat, sans-serif;
  font-size: 5rem;
}

h2 {
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
}

hr {
  margin: 10% auto 10%;
  color: #d4d7dd;
  border: 0.625rem;
  border-style: dotted;
  border-bottom: none;
  width: 4%;
}

ul {
  list-style-type: none;
}

/* Nav-bar */
.navbar-brand {
  font-family: Montserrat, sans-serif;
}

/* Landing page */
.landing-page {
  padding-top: 140px;
  text-align: left;
}

.landing-text {
  font-size: 1.4rem;
  text-align: left;
}

.appointment-button {
  margin: 20% auto 30% 0;
}

.btn {
  border-radius: 4rem;
  font-family: Montserrat, sans-serif;
}

.btn-lg {
  padding: 1.3rem 2.7em;
  font-size: 2rem;
  line-height: 1.5;
}

.landing-image {
  position: relative;
  width: 70%;
  border-radius: 400rem;
  margin-left: 30%;
}

/* About page */
.about {
  color: var(--light);
  margin-top: 20px;
}

.about-box {
  background-color: var(--dark);
  padding: 2.8%;
  padding-top: 3%;
  border-radius: 1.25rem;
  padding-bottom: 0;
}

.specialisation {
  font-size: 1.7rem;
  padding: 5%;
  padding-top: 10%;
}

.container-lg {
  position: relative;
}

.fl-shadow{
  box-shadow: 4px 6px 0px rgba(0,0,0,0.4)
}

.fl-shadow:hover{
  box-shadow: 2px 2px 0px rgba(0,0,0,0.5)
}

.contact-form{
  background: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 4px 4px 0px rgba(0,0,0,0.4)
}
